body {
    font-size: 15px;
    font-family: century gothic;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: #b53;
    text-shadow: black;
    text-shadow: 1px 1px 1px gray;
}
table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
th{
    border: none;
    height: 40px;
    padding: 2px;
    width: 17%;
}

td {
    font-family: arial;
    font-size: 10px; 
    width: 15%;
    height: 35px;
}
tr:hover {
    background: #F5F5F5;
}

form {
    width: 35%;
    margin: auto;
    text-align: left;
    padding: 16px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
    font-size: 15px;
    color: #b53;
    float: left;
}

.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 15px;
    width: 93%;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 10px;
    color: white;
    background: #bb5353;
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}